/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: Helvetica, Arial, sans-serif;
    /*background-color: #000;*/
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    margin: 0px;
    overflow: hidden;

    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}

#pagewrapper {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    /*opacity: 0;*/

    background-color: #333;
    z-index: -1;

    -moz-transition: opacity 5s, background-color 2s, -moz-transform 2s;
    -webkit-transition: opacity 5s, background-color 2s, -webkit-transform 2s;
    -o-transition: opacity 5s, background-color 2s, -o-transform 2s;
    transition: opacity 5s, background-color 2s, transform 2s;
}

#pagewraper.night {
    opacity: 1;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

#info a { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }

#blocker,
#respawn,
#loading {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}



#instructions,
#loading > div,
#respawn > div {

    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;

    cursor: pointer;

}


#respawn {
    z-index: 5;
    display: none;
    background-color: rgba(75,0,0,0.5);
}

#loading {
    background-color: #333;
    z-index: 100;
}

#loading label {
    font-size: 25px;
}

#loading .wrap {
    display: inline-block;
    white-space: nowrap;
    width: 521px;
}

#loading .error {
    color: #f00;
    display: none;
}

#loading input {
    width: 230px;
    font-size: 40px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    line-height: 60px;
    padding: 0 10px;
    margin-right: 5px;
    margin-top: 7px;
}

#loading button {
    height: 65px;
    border: solid 3px #999;
    background-color: #ccc;
    border-radius: 10px;
    font-weight: bold;
    line-height: 71px;
    font-size: 23px;
    padding: 0 10px;
}

#hud-ammo {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(100, 100, 100, 0.5);
    height: 60px;
    padding: 0 10px 8px;
}

#hud-ammo .current {
    font-size: 50px;
}

#hud-ammo .max {
    font-size: 25px;
}

#hud-notifications {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: #fff;
    padding: 0 10px 8px;
}

#hud-notifications ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#hud-notifications ul li {
    padding: 4px 10px;
    height: 30px;
    -moz-transition: margin-top 1s, -moz-transform 2s;
    -webkit-transition: margin-top 1s, -webkit-transform 2s;
    -o-transition: margin-top 1s, -o-transform 2s;
    transition: margin-top 1s, transform 2s;
    text-align: right;
}

.about {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    height: 35px;
    color: #ccc;
}

.about a,
.about a:visited {
    color: #f73;
}

.about a:active,
.about a:hover {
    color: #f96;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
